<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.unison"
    android:versionCode="2"
    android:versionName="1.1" >

    <!-- Requirements. -->
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" /> <!-- previously: 14 (https://developer.android.com/tools/extras/support-library.html#SettingUp) -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Added by Vincent -->
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" > <!-- FIX lint warning -->


        <!-- Activities. -->
        <activity
            android:name="ch.epfl.unison.ui.PrefsActivity"
            android:label="@string/activity_title_prefs" />
        <activity
            android:name="ch.epfl.unison.ui.GroupsRatingsActivity"
            android:label="@string/activity_title_ratings" />
        <activity
            android:name="ch.epfl.unison.ui.HelpActivity"
            android:label="@string/activity_title_help" />
        <activity
            android:name="ch.epfl.unison.ui.GroupsActivity"
            android:label="@string/activity_title_groups" />
        <activity
            android:name="ch.epfl.unison.ui.GroupsHistoryActivity"
            android:label="@string/activity_title_history" />
        <activity
            android:name="ch.epfl.unison.ui.SoloMainActivity"
            android:label="@string/activity_title_solo_main" />
        <activity
            android:name="ch.epfl.unison.ui.SoloPlaylistsActivity"
            android:label="@string/activity_title_solo_playlists" />
        <activity
            android:name="ch.epfl.unison.ui.HomeActivity"
            android:label="@string/activity_title_home" />
        <activity
            android:name="ch.epfl.unison.ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.epfl.unison.ui.SignupActivity"
            android:label="@string/activity_title_signup"
            android:screenOrientation="portrait" />
        <activity
            android:name="ch.epfl.unison.ui.GroupsMainActivity"
            android:label="@string/activity_title_main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--
        See doc on singleTask:
        http://developer.android.com/guide/components/tasks-and-back-stack.html 
        One could alternatively use the intent flag:
        FLAG_ACTIVITY_REORDER_TO_FRONT
        when creating the pending intent in MusicService for the notification
        -->


        <!-- Services. -->
        <service
            android:name="ch.epfl.unison.music.MusicService"
            android:exported="false" >
            <intent-filter>
                <action android:name="ch.epfl.unison.music.action.TOGGLE_PLAYBACK" />
                <action android:name="ch.epfl.unison.music.action.PLAY" />
                <action android:name="ch.epfl.unison.music.action.PAUSE" />
                <action android:name="ch.epfl.unison.music.action.STOP" />
            </intent-filter>
            <intent-filter>
                <action android:name="ch.epfl.unison.music.action.LOAD" />
                <!-- This has been copied from the default android music app. -->
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
        </service>
        <service
            android:name="ch.epfl.unison.LibraryService"
            android:exported="false" >
            <intent-filter>
                <action android:name="ch.epfl.unison.action.UPDATE" />
                <action android:name="ch.epfl.unison.action.TRUNCATE" />
            </intent-filter>
        </service>

        <activity
            android:name="ch.epfl.unison.ui.NFCSendGroupActivity"
            android:label="@string/title_activity_nfcsend_group" >
        </activity>
        <activity
            android:name="ch.epfl.unison.ui.NFCRecieveGroupActivity"
            android:label="@string/title_activity_nfcrecieve_group" >
        </activity>
    </application>

</manifest>